.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cover-image {
  display: block;
  height: 15rem;
  width: 15rem;
}

.App-header {
  display: block;
  color: white;
  font-weight: normal;
  margin: 1rem 0;
}

h2.App-header {
  font-weight: 800;
  letter-spacing: 0.2rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
