@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

html,
body,
#root,
.App {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background: #000;
  overflow: hidden;
}

h1,
h2 {
  padding: 0 1rem;
  display: inline;
  color: #fff;
  font-family: "Bungee Shade";
}

h1 {
  font-family: "Bungee";
}
.not-playing {
  text-align: center;
}
.not-playing img {
  width: 80%;
  margin-bottom: 1rem;
}
